<!DOCTYPE html>
<html>
  <head>
    <title>Vivek Sushil &amp; Co - DSC Audit</title>
    <div th:replace="fragments/head :: head"></div>
  </head>
  <body>
    <!-- <div th:replace="fragments/nav :: sidenav"></div> -->
    <!-- Main content -->
    <div class="main-content" id="panel">
      <div th:replace="fragments/topNav :: topNav"></div>
      <div th:replace="fragments/breadcrumb :: breadcrumb"></div>
      <div class="container-fluid mt--6">
        <div th:fragment="createTask" class="row">
          <div class="col-xl-12 order-xl-1">
            <div class="card">
              <div class="card-header">
                <div class="row align-items-center">
                  <div class="col-8">
                    <h3 class="mb-0">Add DSC Person Data</h3>
                  </div>
                  <div class="col-4 text-right">
                    <!-- <a href="#!" class="btn btn-sm btn-primary">Settings</a> -->
                    <a id="save" class="btn btn-neutral" title=""
                      >Save/Submit</a
                    >
                    <a id="deleteTaskBtn" class="btn bg-danger" style="color:white" onclick="getViewTaskDeleteById();" title=""
                      >Delete</a
                    >
                  </div>
                </div>
              </div>
              <div class="card-body">
                <form id="createForm" role="form" action="" method="post">
                  <h6 class="heading-small text-muted mb-4">
                    Task information
                  </h6>
                  <div class="pl-lg-4 taskInformation">
                    <div class="row">
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label class="form-control-label" for="projectName"
                            >Project Name</label
                          >
                          <input
                            type="text"
                            id="projectName"
                            class="form-control"
                            placeholder="Project Name"
                          />
                          <input
                            type="hidden"
                            id="taskId"
                            class="form-control"
                          />
                        </div>
                      </div>

                      <div class="col-lg-3">
                        <div class="form-group">
                          <label class="form-control-label" for="partyName"
                            >Party Name</label
                          >
                          <input
                            type="text"
                            id="partyName"
                            class="form-control"
                            placeholder="Party Name"
                          />
                        </div>
                      </div>
                      <div class="col-lg-3">
                        <div class="form-group">
                          <label class="form-control-label" for="weightage"
                            >Weightage</label
                          >
                          <select id="weightage" class="form-control">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-3">
                        <div class="form-group">
                          <label class="form-control-label" for="responsibility"
                            >Responsibility</label
                          >
                          <select id="responsibility" class="form-control">
                            <option value="">Select Responsible Person</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-lg-3">
                        <div class="form-group">
                          <label class="form-control-label" for="execution"
                            >Execution</label
                          >
                          <select id="execution" class="form-control">
                            <option value="">Select Executior</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-lg-3">
                        <div class="form-group">
                          <label class="form-control-label" for="consulting"
                            >Consulting</label
                          >
                          <select id="consulting" class="form-control">
                            <option value="">Select Consultant</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-lg-3">
                        <div class="form-group">
                          <label class="form-control-label" for="intimation"
                            >Intimation</label
                          >
                          <select id="intimation" class="form-control">
                            <option value="">Select Intimation</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-3">
                        <div class="form-group">
                          <label class="form-control-label" for="endDate"
                            >Due Date</label
                          >
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text"
                                ><i class="ni ni-calendar-grid-58"></i
                              ></span>
                            </div>
                            <input
                              id="endDate"
                              class="form-control datepicker"
                              placeholder="Select date"
                              type="text"
                              value=""
                            />
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-9">
                        <div class="form-group">
                          <label class="form-control-label" for="description"
                            >Task Description</label
                          >
                          <textarea
                            rows="4"
                            id="description"
                            class="form-control"
                            placeholder="A few words about task description ..."
                          ></textarea>
                        </div>
                      </div>
                    </div>
                  </div>
                  <hr class="my-4" />
                  <!-- Address -->
                  <h6 class="heading-small text-muted mb-4">
                    Client information
                  </h6>
                  <div class="pl-lg-4 clientInformation">
                    <div class="row">
                      <div class="col-lg-4">
                        <div class="form-group">
                          <label class="form-control-label" for="taskType"
                            >Task Type</label
                          >
                          <select id="taskType" class="form-control">
                            <option value="">Select task type</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-lg-4">
                        <div class="form-group">
                          <label
                            class="form-control-label"
                            for="billingClientName"
                            >Billing Client</label
                          ><select
                            id="billingClientName"
                            data-select2-id="billingClientName"
                            class="billingClientNameClass form-control"
                            data-toggle="select"
                            title="Simple select"
                            data-live-search="true"
                            data-live-search-placeholder="Search ..."
                          >
                            <option>Please Select Billing client</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <hr class="my-4 commentsSection" />
                  <!-- Description -->
                  <h6 class="heading-small text-muted mb-4 commentsSection">
                    Status &amp; Remarks
                  </h6>
                  <div class="pl-lg-4 commentsSection">
                    <div class="row">
                      <div class="col-lg-4">
                        <div class="form-group">
                          <label class="form-control-label" for="status"
                            >Status</label
                          >
                          <select id="status" class="form-control createTaskFormStatus">
                            <option value="ShortWork">Short Work</option>
                            <option value="InProcess">In Process</option>
                            <option value="WorkOnClientEnd">Work On Client End</option>
                            <option value="Done">Done</option>
                            <option value="ReadyToCheck">Ready To Check</option>
                            <option value="DiscussionWithSatishJi">Discussion With Satish Ji</option>
                            <option value="ReadyToUpload">Ready To Upload</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-lg-4 showWhenTaskIsCompleted hide">
                        <div class="form-group">
                          <label class="form-control-label" for="status"
                            >Completed Date</label
                          >
                          <input
                            type="text"
                            id="completedDate"
                            class="form-control"
                            readonly
                          />
                        </div>
                      </div>

                      <div class="col-lg-4">
                        <div class="form-group">
                          <label
                            class="form-control-label"
                            for="input-AssignBy"
                            style="color: red"
                            >Weightage will display here if task overrun due
                            date( Weightage x no. of delay days)</label
                          > <input
                            type="text"
                            id="finalWeightage"
                            class="form-control"
                            style="color: #000; background: #ffe5e5; border: 1px solid red;"
                            readonly='readonly'
                            disabled="disabled"
                          />
                        </div>
                      </div>
                      <div class="col-lg-8">
                        <div class="form-group">
                          <label class="form-control-label" for="reasonForDelay"
                            >Reason for Delay</label
                          >
                          <textarea
                            id="reasonForDelay"
                            rows="4"
                            class="form-control readonlyWhenTaskIsCompleted"
                            style="background: #ffe5e5; border: 1px solid red"
                            placeholder="Reason for delay in Task."
                          ></textarea>
                        </div>
                      </div>
                      <div class="col-lg-8 remarksColumn">
                        <div class="form-group">
                          <label class="form-control-label" for="remarks"
                            >Remarks</label
                          >
                          <textarea
                            id="remarks"
                            rows="4"
                            class="form-control readonlyWhenTaskIsCompleted"
                            placeholder="This will be editable, only for Reviewer "
                          ></textarea>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
                <hr/>
                <form id="fileinfo" enctype="multipart/form-data" method="post" name="fileinfo" style="background:#f9f9f9; padding: 1rem;">
   		         <h6 class="heading-small text-muted mb-4">
                    Upload Bulk Task's information
                  </h6>
			      <div class="pl-lg-4 taskInformation">
                    <div class="row">
                      <div class="col-lg-3" style="border: 1px solid #ccc; border-radius: 5px;"> 
		                <input id="file" type="file" name="file" required  style="padding-top:0.4rem;" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"/>
						<div id="output"></div>        
                      </div>
                      <div class="col-lg-2">
                      <input type="button" value="Upload Bulk Tasks " onclick="ValidateUploadFile();" class="btn bg-danger" style="color:white" ></input>
                    </div>
                    </div>
                    <div class="row">
                    <div class="col-lg-12">
                    <br/>
                    	<p style="font-weight: 500;">Example file to download and follow the structure and fill the data in mentioned columns and upload. 
                    	<a th:href="@{/asset/create_bulk_task.xlsx}" target="_self" style="background: #ebebeb;padding: 0.4rem 1rem; border-radius: 4px;font-weight: 600;border: 1px solid #dbdbdb;">Click to Download Excel</a></p>
                    	<p style="font-weight: 500;">Before uploading file:</p>
                    	<ul>
                    		<li>Avoid start and end spaces in columns(Trim before upload).</li>
                    		<li>Weightage should be equal or between <strong>1-5</strong>.</li>
                    		<li>For Responsibility, Execution, Intimation, Consulting if there is no one assign, add <strong>NA</strong>.</li>
                    		<li>For Responsibility, Execution, Intimation, Consulting, add by Email ID.</li>
                    		<li>Due Date will be added in this format DD-MM-YYYY (02-11-2021).</li>
                    		<li>If there is no task description then add <strong>No</strong>.</li>
                    		<li>Follow correct text format to avoid duplicacy of data.</li>
                    	</ul>
                    </div>
                    </div>
                  </div>
                  <br/>
			  </form>
				
              </div>
            </div>
          </div>
        </div>
        <!-- footer -->
        <div th:replace="fragments/footer :: dashboard-footer"></div>
      </div>
    </div>
    <!-- scripts -->
    <div th:replace="fragments/footer :: dashboard-scripts"></div>
    <script th:src="@{/vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js}" ></script>
    <script th:src="@{/logics/createTask.js}"></script>
    <script th:src="@{/logics/viewCreateTaskDetails.js}"></script>
    <script>
      $(document).ready(function () {
        // $.fn.datepicker.defaults.format = "yyyy/dd/mm";
        $(".datepicker").datepicker({
//           format: "dd-mm-yyyy";
        	 startDate: new Date()
        });
      });
    </script>
  </body>
</html>
