<!DOCTYPE html>
<html>

<head>
  <title>Vivek Sushil &amp; Co - Create Task</title>
  <div th:replace="fragments/head :: head"></div>
</head>
<body>
<div th:replace="fragments/nav :: sidenav"></div>
<!-- Main content -->
  <div class="main-content" id="panel">
  		<!-- breadcrumb -->
	  <div th:replace="fragments/breadcrumb :: breadcrumb"></div>
	  <div class="container-fluid mt--6">


 <div th:fragment="createTask" class="row">
        <div class="col-xl-12 order-xl-1">
          <div class="card">
            <div class="card-header">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">Create New Task </h3>
                </div>
                <div class="col-4 text-right">
                  <!-- <a href="#!" class="btn btn-sm btn-primary">Settings</a> -->
                  <a id="cancel" class="btn btn-neutral">Cancel</a>
                  <a id="save" class="btn btn-neutral">Save/Submit</a>
                  <a id="completed" class="btn btn-success">Mark Done</a>
                </div>
              </div>
            </div>
            <div class="card-body">
              <form>
                <h6 class="heading-small text-muted mb-4">Task information</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="projectName">Project Name</label>
                        <input type="text" id="projectName" class="form-control" placeholder="Project Name">
                      </div>
                    </div>
                    
                    <div class="col-lg-3">
                      <div class="form-group">
                        <label class="form-control-label" for="partyName">Party Name</label>
                        <input type="text" id="partyName" class="form-control" placeholder="Party Name">
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <div class="form-group">
                        <label class="form-control-label" for="weightage">Weightage</label>
                        <select id="weightage" class="form-control">
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                          <option value="5">5</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="row"> 
                    <div class="col-lg-3">
                      <div class="form-group">
                        <label class="form-control-label" for="responsibility">Responsibility</label>
                        <select id="responsibility" class="form-control">
                          <option value="">Select Responsible Person</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <div class="form-group">
                        <label class="form-control-label" for="execution">Execution</label>
                        <select id="execution" class="form-control">
                          <option value="">Select Executior</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <div class="form-group">
                        <label class="form-control-label" for="consulting">Consulting</label>
                        <select id="consulting" class="form-control">
                          <option value="">Select Consultant</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <div class="form-group">
                        <label class="form-control-label" for="intimation">Intimation</label>
                        <select id="intimation" class="form-control">
                          <option value="">Select Intimation</option>
                        </select>
                      </div>
                    </div>
                    </div>
                    <div class="row">
                    <div class="col-lg-3">
                      <div class="form-group">
                        <label class="form-control-label" for="endDate">Due Date</label>
                        <input type="date" id="endDate" class="form-control">
                      </div>
                    </div>
                    <div class="col-lg-9">
                      <div class="form-group">
                        <label class="form-control-label" for="description">Task Description</label>
                        <textarea rows="4" id="description" class="form-control" placeholder="A few words about task description ..."></textarea>
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="my-4" />
                <!-- Address -->
                <h6 class="heading-small text-muted mb-4">Client information</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-4">
                      <div class="form-group">
                        <label class="form-control-label" for="taskType">Task Type</label>
                        <select id="taskType" class="form-control">
                          <option value="">Select task type</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group">
                        <label class="form-control-label" for="billingClientName">Billing Client</label>
                        <select id="billingClientName" class="form-control">
                          <option value="">Select Billing Name</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="my-4" />
                <!-- Description -->
                <h6 class="heading-small text-muted mb-4">Comments</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-4">
                      <div class="form-group">
                        <label class="form-control-label" for="status">Status</label>
                        <select id="status" class="form-control">
                          <option value="">Select Status</option>
                          <option value="Coming">Coming</option>
                          <option value="Overdue">Overdue</option>
                          <option value="Ready">Ready</option>
                          <option value="Completed">>Completed</option>
                          <option value="Due">>Due</option>
                          <option value="Review">>Review</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="form-group">
                        <label class="form-control-label" for="input-AssignBy" style="color: red;">Weightage will display here if task overrun due date( Weightage x no. of delay days)</label>
                      </div>
                    </div>
                    <div class="col-lg-8">
                      <div class="form-group">
                        <label class="form-control-label" for="reasonForDelay">Reason for Delay</label>
                        <textarea id="reasonForDelay" rows="4" class="form-control" style="background:#ffe5e5; border:1px solid red;" placeholder="This will be visible to Responsible personf for task."></textarea>
                      </div>
                    </div>
                    <div class="col-lg-8">
                      <div class="form-group">
                        <label class="form-control-label" for="remarks">Remarks</label>
                        <textarea id="remarks" rows="4" class="form-control" readonly placeholder="This will be editable, only for Reviewer "></textarea>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      
       <!-- footer -->
	  <div th:replace="fragments/footer :: dashboard-footer"></div>	  
	  </div>
  </div>
  <!-- scripts -->
	<div th:replace="fragments/footer :: dashboard-scripts"></div>
	<script th:src="@{/logics/createTask.js}"></script>
</body>
</html>