<!--
=========================================================
* Argon Dashboard - v1.2.0
=========================================================
* Product Page: https://www.creative-tim.com/product/argon-dashboard


* Copyright  Creative Tim (http://www.creative-tim.com)
* Coded by www.creative-tim.com



=========================================================
* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<html>

<head>
  <title>Vivek Sushil &amp; Co - Dashboard</title>
  <div th:insert="fragments/head :: head"></div>
</head>
<body>
<div th:insert="fragments/nav :: sidenav"></div>
<!-- Main content -->
  <div class="main-content" id="panel">
  		<!-- breadcrumb -->
	  <div th:insert="fragments/breadcrumb :: breadcrumb"></div>
	  <div class="container-fluid mt--6">

	  <p>Table Will be here...</p>
	  <div th:insert="fragments/profile :: profile"></div>
	
	  <!-- footer -->
	  <div th:insert="fragments/footer :: dashboard-footer"></div>	  
	  </div>
  </div>
  <!-- scripts -->
	<div th:insert="fragments/footer :: dashboard-scripts"></div>
</body>
</html>