<!DOCTYPE html>
<html>
  <head>
    <title>Vivek Sushil &amp; Co - Reset Password</title>
    <div th:replace="fragments/head :: head"></div>
  </head>
  <body>
    <!-- Main content -->
    <div class="main-content" id="panel">
      <div th:replace="fragments/topNav :: topNav"></div>
      <div
        class="passwordNavforAdmin"
        th:insert="fragments/adminNav :: adminNav"
      ></div>
      <div
        class="passwordNavforUsers"
        th:insert="fragments/breadcrumb :: breadcrumb"
      ></div>
      <div class="container-fluid mt--6">
        <div th:fragment="createTask" class="row">
          <div class="col-xl-12 order-xl-1">
            <div class="card">
              <div class="card-header">
                <div class="row align-items-center">
                  <div class="col-8">
                    <h3 class="mb-0">Reset Password</h3>
                  </div>
                  <div class="col-4 text-right">
                    <!-- <a href="#!" class="btn btn-sm btn-primary">Settings</a> -->
                    <a id="save" class="btn btn-neutral" title="">Save</a>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <form
                  id="changePasswordForm"
                  role="form"
                  action=""
                  method="post"
                >
                  <div class="pl-lg-4 taskInformation">
                    <div class="row">
                      <div id="forAdmin" class="col-lg-3">
                        <div class="form-group">
                          <label class="form-control-label" for="user"
                            >User Name</label
                          >
                          <select id="userNames" class="form-control">
                            <option value="">Select User</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-lg-3">
                        <div class="form-group">
                          <label class="form-control-label" for="password"
                            >Password</label
                          >
                          <input
                            type="text"
                            id="password"
                            class="form-control"
                            placeholder="Password"
                            maxlength="20"
                          />
                        </div>
                      </div>

                      <div class="col-lg-3">
                        <div class="form-group">
                          <label
                            class="form-control-label"
                            for="confirmPassword"
                          >
                            Confirm Password</label
                          >
                          <input
                            type="text"
                            id="confirmPassword"
                            class="form-control"
                            placeholder="Confirm Password"
                            maxlength="20"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

        <!-- footer -->
        <div th:replace="fragments/footer :: dashboard-footer"></div>
      </div>
    </div>
    <!-- scripts -->
    <div th:replace="fragments/footer :: dashboard-scripts"></div>
    <script th:src="@{/logics/password.js}"></script>
  </body>
</html>
