@charset 'UTF-8';

.bg-primary {
    background-color: #120958 !important;
}

.hide {
  display: none !important;
}
.show {
  display: initial;
}

.hideNav {
  display: none !important;
}
.showNav {
  display: initial;
}
.pointer {
  cursor: pointer;
}
.show-container {
  display: none !important;
}

a:not([href]) {
  text-decoration: none;
  color: #120958;
}

.mainlink {
  display: flex;

  margin-bottom: 1rem;
  padding: 0.75rem 1rem;

  list-style: none;

  border-radius: 0.25rem;
  background-color: #e9ecef;

  flex-wrap: wrap;
}

.mainlink-item + .mainlink-item {
  padding-left: 0.5rem;
}
.mainlink-item + .mainlink-item::before {
  display: inline-block;

  padding-right: 0.5rem;

  content: "/";

  color: #6c757d;
}

.mainlink-item + .mainlink-item:hover::before {
  text-decoration: underline;
}

.mainlink-item + .mainlink-item:hover::before {
  text-decoration: none;
}

.mainlink-item.active {
  color: #6c757d;
}

/* Styles for the drop-down. Feel free to change the styles to suit your website. :-) */
.table thead th {
  font-size: 0.75rem;
}

/*.table thead th:first-child > .cb-dropdown-wrap,
.table thead th:nth-child(9) > .cb-dropdown-wrap, 
.table thead th:last-child > .cb-dropdown-wrap {
  display: none;
}*/
.dt-button.buttons-excel.buttons-html5, .search-btn{
	background: #120958;
    color: white;
    padding: 5px 20px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #120958;
}

button.dt-button:hover:not(.disabled), 
div.dt-button:hover:not(.disabled), 
a.dt-button:hover:not(.disabled), 
input.dt-button:hover:not(.disabled), 
.search-btn:hover{
	background: #4230cd;
	box-shadow: 0 2px 2px #ccc;
}

button.dt-button:active:not(.disabled), 
button.dt-button.active:not(.disabled), 
div.dt-button:active:not(.disabled), 
div.dt-button.active:not(.disabled), 
a.dt-button:active:not(.disabled), 
a.dt-button.active:not(.disabled), 
input.dt-button:active:not(.disabled), 
input.dt-button.active:not(.disabled){
	background: #4230cd;
	box-shadow: 0 2px 2px #ccc;
}

button.dt-button:focus:not(.disabled), 
div.dt-button:focus:not(.disabled), 
a.dt-button:focus:not(.disabled), 
input.dt-button:focus:not(.disabled){
	background: #4230cd;
	box-shadow: 0 2px 2px #ccc;
}

.search-btn{
	margin-top: 31px;
    padding: 12px 34px;
}

.search-btn:focus{
	 outline: none;
}

.cb-dropdown-wrap {
  max-height: 80px; /* At most, around 3/4 visible items. */
  position: relative;
  height: 19px;
  margin-top: 10px;
}

.cb-dropdown,
.cb-dropdown li {
  margin: 0;
  padding: 0;
  list-style: none;
  
}
.cb-dropdown li:nth-child(1n){
	background: #fff;
} 
.cb-dropdown li:nth-child(2n){
	background: #e2e7ff;
} 

.cb-dropdown {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #fff;
  border: 1px solid #e9ecef;
}

/* For selected filter. */
.active .cb-dropdown {
  background: pink;
  width: 125%;
}

.cb-dropdown-wrap:hover .cb-dropdown {
  height: 150px;
  overflow: auto;
  transition: 0.2s height ease-in-out;
}

/* For selected items. */
.cb-dropdown li.active {
  background: #ff0;
}

.cb-dropdown li label {
  display: block;
  position: relative;
  cursor: pointer;
  line-height: 19px; /* Match height of .cb-dropdown-wrap */
  margin-bottom:0;
}

.cb-dropdown li label > input {
  position: absolute;
  right: 0;
  top: 0;
  width: 16px;
  height: 19px;
}

.cb-dropdown li label > span {
  display: block;
  margin-left: 3px;
  margin-right: 20px; /* At least, width of the checkbox. */
  font-family: sans-serif;
  /* font-size: 0.8em; */
  font-weight: normal;
  text-align: left;
  color: #000;
  display:inline-block;
  white-space: initial;
}

/* This fixes the vertical aligning of the sorting icon. */
table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
  background-position: 100% 10px;
}
.table th, .table td{
	padding: 0;
}
.card .table td, .card .table th{
	font-weight: 600;
}
.dataTables_info{
	padding-bottom: 20px;
}

.ShortWork{
	background: #b8d2ff;
}
.InProcess{
	background: #ffd2ff;
}
.WorkOnClientEnd{
	background: #ffcece;
}
.Done{
	background: #c6ffad;
}
.ReadyToCheck{
	background: #ffffa7;
}
.DiscussionWithSatishJi{
	background: #baffff;
}
.ReadyToUpload{
	background: #ffebd7;
}
.whiteRow{
	background: #fff;
}
.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
}
.loader {
  color: #120958;
  font-size: 11px;
  text-indent: -99999em;
  margin: 55px auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before,
.loader:after {
  position: absolute;
  content: '';
}
.loader:before {
  width: 5.2em;
  height: 10.2em;
  background: #fff;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.1em 5.1em;
  transform-origin: 5.1em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s;
}
.loader:after {
  width: 5.2em;
  height: 10.2em;
  background: #fff;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 4.9em;
  -webkit-transform-origin: 0.1em 5.1em;
  transform-origin: 0.1em 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease;
}
@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
