<div th:fragment="loading-screen" id="loading" class="loading-viewport">
	<div class="boxes">
	    <div class="box">
	        <div></div>
	        <div></div>
	        <div></div>
	        <div></div>
	    </div>
	    <div class="box">
	        <div></div>
	        <div></div>
	        <div></div>
	        <div></div>
	    </div>
	    <div class="box">
	        <div></div>
	        <div></div>
	        <div></div>
	        <div></div>
	    </div>
	    <div class="box">
	        <div></div>
	        <div></div>
	        <div></div>
	        <div></div>
	    </div>
	</div>
	<p class="loading-text">Loading...</p>
</div>
